<toaster-container></toaster-container>
<div class="row wrapper border-bottom white-bg page-heading" >
    <div class="col-lg-10">
        <h2>Propietarios</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Inicio</a>
            </li>
            <li>
                <a>Administrar</a>
            </li>
            <li class="active">
                <strong>Propietarios</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2"></div>
</div>
<div class="wrapper wrapper-content animated fadeInRight" ng-hide="showProp">
    <dt-search loading="loading" config="dtconfig" extensions="dtext"></dt-search>
</div>
<div class="wrapper wrapper-content animated fadeInRight" ng-show="showProp">
    <div class="ibox float-e-margins" >
        <div class="ibox-title">
            <h5>Nuevo propietario</h5>
            <div class="ibox-tools" uib-dropdown="">
                <a ng-click="closeEdit()" title="Cerrar"><i class="fa fa-times"></i></a>
            </div>
        </div>
        <div class="ibox-content">
            <loader ng-show="loading"></loader>
            <form name="fProp" class="form-horizontal" novalidate>
                <p>Ingrese los datos del nuevo propietario.</p>
                <div class="row">
                    <div class = "col-sm-6">
                        <div class="form-group" ng-class="{ 'has-error': (fProp.apellido.$invalid && fProp.apellido.$dirty)}">
                            <label class="col-sm-2">Apellido</label>
                            <div class="col-sm-10">
                                <input type="text" name="apellido" placeholder="Apellido" class="form-control" ng-model="selectedProp.apellido" ng-required="true"> 
                                <span ng-show="fProp.apellido.$invalid && fProp.apellido.$dirty">Campo requerido</span>
                            </div>
                        </div>
                    </div>
                    <div class = "col-sm-6">
                        <div class="form-group" ng-class="{ 'has-error': (fProp.nombre.$invalid && fProp.nombre.$dirty)}">
                            <label class="col-sm-2">Nombres</label>
                            <div class="col-sm-10">
                                <input type="text" name="nombre" placeholder="Nombres" class="form-control" ng-model="selectedProp.nombre" ng-required="true"> 
                                <span ng-show="fProp.nombre.$invalid && fProp.nombre.$dirty">Campo requerido</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class = "col-sm-6">
                        <div class="form-group" ng-class="{ 'has-error': (fProp.documento.$invalid && fProp.documento.$dirty)}">
                            <label class="col-sm-2">Docum</label>
                            <div class="col-sm-10">
                                <div class="input-group m-b">
                                    <div class="input-group-btn" uib-dropdown>
                                        <button class="btn btn-white" uib-dropdown-toggle type="button">
                                            {{selectedProp.tipo_doc}} <span class="caret"></span></button>
                                        <ul uib-dropdown-menu>
                                            <li><a href="" ng-click="setTipoDoc('DNI')">DNI</a></li>
                                            <li><a href="" ng-click="setTipoDoc('LE')">LE</a></li>
                                        </ul>
                                    </div>
                                    <input type="text" class="form-control" name="documento" placeholder="Número" ng-model="selectedProp.nro_doc" validate="{'type': 'integer'}" ng-required="true">
                                    <span ng-show="fProp.documento.$invalid && fProp.documento.$dirty">{{fProp.documento.$errorMessage}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class = "col-sm-6">
                        <div class="form-group" ng-class="{ 'has-error': (fProp.cuit.$invalid && fProp.cuit.$dirty)}">
                            <label class="col-sm-2">CUIT</label>
                            <div class="col-sm-10">
                                <input type="text" name="cuit" placeholder="CUIT" class="form-control" ng-model="selectedProp.cuit" validate="{'type': 'integer'}"><span ng-show="fProp.cuit.$invalid && fProp.cuit.$dirty">{{fProp.cuit.$errorMessage}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class = "col-sm-6">
                        <div class="form-group" ng-class="{ 'has-error': (fProp.direccion.$invalid && fProp.direccion.$dirty)}">
                            <label class="col-sm-2">Dirección</label>
                            <div class="col-sm-10">
                                <input name="direccion" type="text" placeholder="Dirección" class="form-control" ng-model="selectedProp.direccion" ng-required="true"> 
                                <span ng-show="fProp.direccion.$invalid && fProp.direccion.$dirty">Campo requerido</span>
                            </div>
                        </div>
                    </div>
                    <div class = "col-sm-6">
                        <div class="form-group" ng-class="{ 'has-error': (fProp.localidad.$invalid && fProp.localidad.$dirty)}">
                            <label class="col-sm-2">Localidad</label>
                            <div class="col-sm-10">
                                <input name="localidad" type="text" placeholder="Localidad" class="form-control" ng-model="selectedProp.localidad" ng-required="true"> 
                                <span ng-show="fProp.localidad.$invalid && fProp.localidad.$dirty">Campo requerido</span>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class = "col-sm-6">
                        <div class="form-group" ng-class="{ 'has-error': (fProp.codPostal.$invalid && fProp.codPostal.$dirty)}">
                            <label class="col-sm-2">Cod. Postal</label>
                            <div class="col-sm-10" >
                                <input type="text" name="codPostal" placeholder="Cod. Postal" class="form-control" ng-model="selectedProp.cod_postal" ng-required="true"> 
                                <span ng-show="fProp.codPostal.$invalid && fProp.codPostal.$dirty">Campo requerido</span>
                            </div>
                        </div>
                    </div>
                    <div class = "col-sm-6">
                        <div class="form-group" ng-class="{ 'has-error': (fProp.provincia.$invalid && fProp.provincia.$dirty)}">
                            <label class="col-sm-2">Provincia</label>
                            <div class="col-sm-10">
                                <input type="text" name="provincia" placeholder="Provincia" class="form-control" ng-model="selectedProp.provincia" ng-required="true"> 
                                <span ng-show="fProp.provincia.$invalid && fProp.provincia.$dirty">Campo requerido</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group" ng-class="{ 'has-error': (fProp.pais.$invalid && fProp.pais.$dirty)}">
                            <label class="col-sm-2">País</label>
                            <div class="col-sm-10" >
                                <input name="pais" type="text" placeholder="País" class="form-control" ng-model="selectedProp.pais" ng-required="true"> 
                                <span ng-show="fProp.pais.$invalid && fProp.pais.$dirty">Campo requerido</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group" ng-class="{ 'has-error': (fProp.email.$invalid && fProp.email.$dirty)}">
                            <label class="col-sm-2">Email</label>
                            <div class="col-sm-10" >
                                <input name="email" type="text" placeholder="Email" class="form-control" ng-model="selectedProp.email" validate="{'type': 'email'}"> 
                                <span ng-show="fProp.email.$invalid && fProp.email.$dirty">{{fProp.email.$errorMessage}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group" ng-class="{ 'has-error': (fProp.telFijo.$invalid && fProp.telFijo.$dirty)}">
                            <label class="col-sm-2">Tel. Fijo</label>
                            <div class="col-sm-10">
                                <input name="telFijo" type="text" placeholder="Tel. Fijo" class="form-control" ng-model="selectedProp.tel_fijo" validate="{'type': 'phone'}"> 
                                <span ng-show="fProp.telFijo.$invalid && fProp.telFijo.$dirty">{{fProp.telFijo.$errorMessage}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group" ng-class="{ 'has-error': (fProp.telMovil.$invalid && fProp.telMovil.$dirty)}">
                            <label class="col-sm-2">Tel. Móvil</label>
                            <div class="col-sm-10">
                                <input name="telMovil" type="text" placeholder="Tel. Fijo" class="form-control" ng-model="selectedProp.tel_movil" validate="{'type': 'phone'}"> 
                                <span ng-show="fProp.telMovil.$invalid && fProp.telMovil.$dirty">{{fProp.telMovil.$errorMessage}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-2">IVA</label>
                            <div class="col-sm-10">
                                <select class="form-control" name="account" ng-model="selectedProp.iva">
                                    <option value="cf">Consumidor Final</option>
                                    <option value="mo">Monotributista</option>
                                    <option value="ri">Responsable Inscripto</option>
                                    <option value="re">Responsable Exento</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-2">Método pago</label>
                            <div class="col-sm-10">
                                <select class="form-control" name="account" ng-model="selectedProp.metodo_pago">
                                    <option value="0">Depósito bancario</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group" ng-class="{ 'has-error': (fProp.cbu.$invalid && fProp.cbu.$dirty)}">
                            <label class="col-sm-2">CBU</label>
                            <div class="col-sm-10">
                                <input name="cbu" type="text" placeholder="CBU" class="form-control" ng-model="selectedProp.cbu" validate="{'type': 'integer'}"> 
                                <span ng-show="fProp.cbu.$invalid && fProp.cbu.$dirty">{{fProp.cbu.$errorMessage}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-2">Banco</label>
                            <div class="col-sm-10">
                                <input type="text" placeholder="Banco" class="form-control" ng-model="selectedProp.banco"> 
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group" ng-class="{ 'has-error': (fProp.sucursal.$invalid && fProp.sucursal.$dirty)}">
                            <label class="col-sm-2">Sucursal</label>
                            <div class="col-sm-10">
                                <input name="sucursal" type="text" placeholder="Sucursal" class="form-control" ng-model="selectedProp.sucursal"> 
                                <span ng-show="fProp.sucursal.$invalid && fProp.sucursal.$dirty">{{fProp.sucursal.$errorMessage}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group" ng-class="{ 'has-error': (fProp.carpeta.$invalid && fProp.carpeta.$dirty)}">
                            <label class="col-sm-2">Carpeta</label>
                            <div class="col-sm-10">
                                <input name="carpeta" type="text" placeholder="Carpeta" class="form-control" ng-model="selectedProp.carpeta" validate="{'type': 'integer'}"> 
                                <span ng-show="fProp.carpeta.$invalid && fProp.carpeta.$dirty">{{fProp.carpeta.$errorMessage}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <span class="col-sm-1" style="font-weight:bold;">Observaciones</span>
                    <div class="col-sm-12">
                        <textarea class="form-control" rows="5" style="resize:none" ng-model="selectedProp.observaciones"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button class="btn btn-white pull-right" type="submit" ng-click="closeEdit();">Cancelar</button>
                        <button class="btn btn-primary pull-right" type="submit" ng-click="saveProp();" ng-disabled="fProp.$invalid || fProp.$pristine">Guardar cambios</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
    

        

