<toaster-container></toaster-container>
<div class="row wrapper border-bottom white-bg page-heading" >
    <div class="col-lg-10">
        <h2>Unidades</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Inicio</a>
            </li>
            <li>
                <a>Administrar</a>
            </li>
            <li class="active">
                <strong>Unidades</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2"></div>
</div>
<div id="tableContainer" class="wrapper wrapper-content animated fadeInRight" ng-hide="showUnidad || showAutorizaciones">
    <dt-search loading="loading" config="dtconfig" extensions="dtext"></dt-search>
</div>
<div class="wrapper wrapper-content animated fadeInRight" ng-show="showAutorizaciones">
    <div class="ibox float-e-margins" >
        <div class="ibox-title">
            <h5>Autorizaciones</h5>
            <div class="ibox-tools" uib-dropdown="">
                <a ng-click="closeEdit()" title="Cerrar"><i class="fa fa-times"></i></a>
            </div>
        </div>
        <div class="ibox-content">
            <loader ng-show="loading"></loader>
            <form name="fAutorizacion" class="form-horizontal" novalidate>
                <p>Ingrese los datos de la nueva autorización.</p>
                <fieldset>
                    <div class="row" style="margin:0px;">
                        <div class = "col-sm-3 offset-sm-1 col-md-3 offset-md-1 col-lg-3 offset-lg-1">
                            <div class="form-group" >
                                <label class="font-normal">Fecha de hoy</label>
                                <div class="input-group date">
                                    <input type="datetime" class="form-control" date-time ng-model="operation.date" view="date" auto-close="true" min-view="date" format="DD/MM/YYYY">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    <!-- 1) agregar imagen al input y sacar el boton de calendario
                                        2) quitar foco del elemento al seleccionar 
                                        3) Cambiar idioma del calendario y formato de fecha para el compuesto-->
                                </div>
                            </div>
                        </div>
                        <div class = "col-sm-6 col-md-6 col-lg-6">
                            <div class="form-group" >
                                <label class="font-normal">Periodo</label>
                                <input date-range-picker class="form-control date-picker" type="text" ng-model="operation.range" />
                            <!--<p class="m-t-md">https://github.com/fragaria/angular-daterangepicker</p>-->
                            </div>
                        </div>
                        <div class = "col-sm-2 col-md-2 col-lg-2">
                            <div class="form-group">
                                <button class="btn btn-primary pull-right" type="submit" ng-click="saveAutorizacion();" style="margin-top: 23px">Guardar cambios</button>
                            </div>
                        </div>
                    </div>
                </fieldset>
                    
            </form>
            <table class="table table-striped">
                <thead><tr>
                    <th>Fecha</th>
                    <th>Desde</th>
                    <th>Hasta</th>
                    <th>Acciones</th>
                </tr></thead>
                <tbody>
                    <tr ng-repeat="(k, a) in autorizaciones | orderBy: '-fecha_autorizacion'">
                        <td>{{a.fecha_autorizacion | date: 'dd/MM/yyyy'}}</td>
                        <td>{{a.fecha_desde | date: 'dd/MM/yyyy'}}</td>
                        <td>{{a.fecha_hasta | date: 'dd/MM/yyyy'}}</td>
                        <td class="text-navy">
                            <a href="" ng-click="eliminarAutorizacion(a, k)">Eliminar</a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div ng-show="!autorizaciones.length" style="text-align: center">
                No se encontraron autorizaciones para esta unidad
            </div>
        </div>

        
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight" ng-show="showUnidad">
    <div class="ibox float-e-margins" >
        <div class="ibox-title">
            <h5>Nueva unidad</h5>
            <div class="ibox-tools" uib-dropdown="">
                <a ng-click="closeEdit()" title="Cerrar"><i class="fa fa-times"></i></a>
            </div>
        </div>
        <div class="ibox-content">
            <loader ng-show="loading"></loader>
            <form name="fUnidad" class="form-horizontal" novalidate>
                <p>Ingrese los datos de la nueva unidad.</p>
                <div class="row">
                    <div class = "col-sm-12">
                        <div class="form-group">
                            <label class="col-sm-1">Tipo de unidad</label>
                            <div class="col-sm-5">
                                <div ><label > <input icheck type="radio" name="tipoUnidad" ng-model="selectedUnidad.tipo_unidad" value="d" ng-disabled="editMode"> Departamento </label> </div>
                            </div>
                            <div class="col-sm-5">
                                <div ><label > <input icheck type="radio" name="tipoUnidad" ng-model="selectedUnidad.tipo_unidad" value="c" ng-disabled="editMode"> Cochera </label></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class = "col-sm-6">
                        <div class="form-group" ng-class="{ 'has-error': (fUnidad.edificio.$invalid && fUnidad.edificio.$dirty)}">
                            <label class="col-sm-2">Edificio</label>
                            <div class="col-sm-10">
                                <div class="input-group">
                                    <input type="text" class="form-control" ng-disabled="true" value="{{selected.edificio.nombre}}"> 
                                    <span class="input-group-btn"> <button type="button" class="btn btn-primary" ng-click="openModal('edificio')">Go!</button> </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class = "col-sm-6">
                        <div class="form-group" ng-class="{ 'has-error': (fUnidad.propietario.$invalid && fUnidad.propietario.$dirty)}">
                            <label class="col-sm-2">Propietario</label>
                            <div class="col-sm-10">
                                <div class="input-group">
                                    <input type="text" class="form-control" ng-disabled="true" value="{{selected.propietario.nombre}}"> 
                                    <span class="input-group-btn"> <button type="button" class="btn btn-primary" ng-click="openModal('propietario')">Go!</button> </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class = "col-sm-12">
                        <div class="form-group">
                            <label class="col-sm-1">Operaciones disponibles</label>
                            <div class="col-sm-5">
                                <input icheck type="checkbox" ng-model="selectedUnidad.hab_venta"><i></i> Venta
                            </div>
                            <div class="col-sm-5">
                                <input icheck type="checkbox" ng-model="selectedUnidad.hab_alquiler"><i></i> Alquiler
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-if="selectedUnidad.tipo_unidad == 'c'">
                    <div class="row">
                        <div class = "col-sm-6">
                            <div class="form-group" ng-class="{ 'has-error': (fUnidad.numero.$invalid && fUnidad.numero.$dirty)}">
                                <label class="col-sm-2">Número</label>
                                <div class="col-sm-10">
                                    <input type="text" name="numero" placeholder="numero" class="form-control" ng-model="selectedUnidad.numero" ng-required="true">
                                </div>
                            </div>
                        </div>
                        <div class = "col-sm-6">
                            <div class="form-group">
                                <label class="col-sm-2">Categoría</label>
                                <div class="col-sm-10">
                                    <select class="form-control" name="account" ng-model="selectedUnidad.categoria">
                                        <option value="">(Ninguna)</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="A">A</option>
                                        <option value="B">B</option>
                                        <option value="C">C</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class = "col-sm-6">
                            <div class="form-group" ng-class="{ 'has-error': (fUnidad.ancho.$invalid && fUnidad.ancho.$dirty)}">
                                <label class="col-sm-2">Ancho</label>
                                <div class="col-sm-10">
                                    <input name="ancho" type="text" placeholder="Ancho" class="form-control" ng-model="selectedUnidad.ancho" validate="{'type':'float', 'minValue': 1}" ng-required="true"> 
                                    
                                </div>
                            </div>
                        </div>
                        <div class = "col-sm-6">
                            <div class="form-group" ng-class="{ 'has-error': (fUnidad.largo.$invalid && fUnidad.largo.$dirty)}">
                                <label class="col-sm-2">Largo</label>
                                <div class="col-sm-10">
                                    <input name="largo" type="text" placeholder="Largo" class="form-control" ng-model="selectedUnidad.largo" validate="{'type':'float', 'minValue': 1}" ng-required="true"> 
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class = "col-sm-6">
                            <div class="form-group" ng-class="{ 'has-error': (fUnidad.subsuelo.$invalid && fUnidad.subsuelo.$dirty)}">
                                <label class="col-sm-2">Piso/Subsuelo</label>
                                <div class="col-sm-10" >
                                    <input type="text" name="subsuelo" placeholder="Piso/Subsuelo" class="form-control" ng-model="selectedUnidad.subsuelo" ng-required="true" validate="{'type':'integer', 'minValue': 1}"> 
                                    
                                </div>
                            </div>
                        </div>
                        <div class = "col-sm-6">
                            <div class="form-group" ng-class="{ 'has-error': (fUnidad.dist_ascensor.$invalid && fUnidad.dist_ascensor.$dirty)}">
                                <label class="col-sm-2">Ascensor</label>
                                <div class="col-sm-10">
                                    <input type="text" name="dist_ascensor" placeholder="Distancia" class="form-control" validate="{'type':'integer', 'minValue': 1}" ng-model="selectedUnidad.dist_ascensor" ng-required="true"> 
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group" ng-class="{ 'has-error': (fUnidad.dist_esc_caracol.$invalid && fUnidad.dist_esc_caracol.$dirty)}">
                                <label class="col-sm-2">Esc. Caracol</label>
                                <div class="col-sm-10" >
                                    <input name="dist_esc_caracol" type="text" placeholder="Distancia" validate="{'type':'integer', 'minValue': 1}" class="form-control" ng-model="selectedUnidad.dist_esc_caracol" ng-required="true"> 
                                    
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group" ng-class="{ 'has-error': (fUnidad.dist_esc_bristol.$invalid && fUnidad.dist_esc_bristol.$dirty)}">
                                <label class="col-sm-2">Esc. Bristol</label>
                                <div class="col-sm-10" >
                                    <input name="dist_esc_bristol" type="text" placeholder="Distancia" validate="{'type':'integer', 'minValue': 1}" class="form-control" ng-model="selectedUnidad.dist_esc_bristol"> 
                                    {{fUnidad.dist_esc_bristol.$errorMessage}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group" ng-class="{ 'has-error': (fUnidad.escDerecha.$invalid && fUnidad.escDerecha.$dirty)}">
                                <label class="col-sm-2">Escalera Derecha</label>
                                <div class="col-sm-10">
                                    <input name="escDerecha" type="text" placeholder="Distancia" class="form-control" validate="{'type':'integer', 'minValue': 1}" ng-model="selectedUnidad.dist_esc_der" > 
                                    
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group" ng-class="{ 'has-error': (fUnidad.escIzq.$invalid && fUnidad.escIzq.$dirty)}">
                                <label class="col-sm-2">Escalera Izquierda</label>
                                <div class="col-sm-10">
                                    <input name="escIzq" type="text" placeholder="Distancia" class="form-control" validate="{'type':'integer', 'minValue': 1}" ng-model="selectedUnidad.dist_esc_izq" > 
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-if="selectedUnidad.tipo_unidad == 'd'">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group" ng-class="{ 'has-error': (fUnidad.piso.$invalid && fUnidad.piso.$dirty)}">
                                <label class="col-sm-2">Piso</label>
                                <div class="col-sm-10">
                                    <input name="piso" type="text" placeholder="Piso" class="form-control" validate="{'type':'integer', 'minValue': 1}" ng-model="selectedUnidad.piso" > 
                                    
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group" ng-class="{ 'has-error': (fUnidad.letra.$invalid && fUnidad.letra.$dirty)}">
                                <label class="col-sm-2">Letra</label>
                                <div class="col-sm-10">
                                    <input name="letra" type="text" placeholder="Letra" class="form-control" ng-model="selectedUnidad.letra" > 
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group" ng-class="{ 'has-error': (fUnidad.ambientes.$invalid && fUnidad.ambientes.$dirty)}">
                                <label class="col-sm-2">Ambientes</label>
                                <div class="col-sm-10">
                                    <input name="ambientes" type="text" placeholder="Ambientes" class="form-control" validate="{'type':'integer', 'minValue': 1}" ng-model="selectedUnidad.ambientes" > 
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group" ng-class="{ 'has-error': (fUnidad.codigo.$invalid && fUnidad.codigo.$dirty)}">
                            <label class="col-sm-2">Código</label>
                            <div class="col-sm-10">
                                <input name="codigo" type="text" placeholder="codigo" class="form-control" ng-model="selectedUnidad.codigo"> 
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group" ng-class="{ 'has-error': (fUnidad.carpeta.$invalid && fUnidad.carpeta.$dirty)}">
                            <label class="col-sm-2">Carpeta</label>
                            <div class="col-sm-10">
                                <input name="carpeta" type="text" placeholder="Carpeta" class="form-control" validate="{'type':'integer', 'minValue': 1}" ng-model="selectedUnidad.carpeta" validate="{'type': 'integer'}"> 
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <span class="col-sm-1" style="font-weight:bold;">Observaciones</span>
                    <div class="col-sm-12">
                        <textarea class="form-control" rows="5" style="resize:none" ng-model="selectedUnidad.detalles"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button class="btn btn-white pull-right" type="submit" ng-click="closeEdit();">Cancelar</button>
                        <button class="btn btn-primary pull-right" type="submit" ng-click="saveUnidad();" ng-disabled="fUnidad.$invalid || fUnidad.$pristine || !selected.edificio || !selected.propietario">Guardar cambios</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>