<toaster-container></toaster-container>
<div class="row wrapper border-bottom white-bg page-heading" >
    <div class="col-lg-10">
        <h2>Disponibilidades</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Inicio</a>
            </li>
            <li>
                <a>Operaciones</a>
            </li>
            <li class="active">
                <strong>Disponibilidades</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2"></div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="ibox float-e-margins" >
        <div class="ibox-title">
            <h5>Ver disponibilidades</h5>
            <div class="ibox-tools" uib-dropdown="">
                <a ng-click="closeEdit()" title="Cerrar"><i class="fa fa-times"></i></a>
            </div>
        </div>
        <div class="ibox-content">
            <div class="row">
                <div class="col-sm-3 m-b-xs">
                    <div class="form-group" >
                        <label class="font-normal">Tipo de Unidad</label>
                        <select class="input-sm form-control input-s-sm inline">
                            <option value="0">Cocheras</option>
                            <option value="1">Departamentos</option>
                            <option value="2">Locales</option>
                            <option value="3">Casas</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-3 m-b-xs">
                    <div class="form-group" >
                        <label class="font-normal">Operación</label>
                        <select class="input-sm form-control input-s-sm inline">
                            <option value="0">Alquiler</option>
                            <option value="1">Venta</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-5 m-b-xs">
                    <div class="form-group" >
                        <label class="font-normal">Período</label>
                        <input date-range-picker class="form-control date-picker" type="text" ng-model="operation.range" />
                    <!--<p class="m-t-md">https://github.com/fragaria/angular-daterangepicker</p>-->
                    </div>
                </div>
                <div class="col-sm-1">
                    <button type="button" class="btn btn-sm btn-primary"> Go!</button>
                </div>
            </div>
            <div class="row" ng-show="results.length">
                <div class="col-sm-5 m-b-xs">
                    <select class="input-sm form-control input-s-sm inline">
                        <option value="0">Cocheras</option>
                        <option value="1">Departamentos</option>
                        <option value="2">Locales</option>
                        <option value="3">Casas</option>
                    </select>
                </div>
                <div class="col-sm-4 m-b-xs">
                    <div data-toggle="buttons" class="btn-group">
                        <label class="btn btn-sm btn-white"> <input type="radio" id="option1" name="options"> Day </label>
                        <label class="btn btn-sm btn-white active"> <input type="radio" id="option2" name="options"> Week </label>
                        <label class="btn btn-sm btn-white"> <input type="radio" id="option3" name="options"> Month </label>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="input-group"><input type="text" placeholder="Search" class="input-sm form-control"> <span class="input-group-btn">
                                    <button type="button" class="btn btn-sm btn-primary"> Go!</button> </span></div>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>

                        <th></th>
                        <th>Project</th>
                        <th>Completed</th>
                        <th>Task</th>
                        <th>Date</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><input icheck type="checkbox" ng-model="main.checkOne"></td>
                        <td>Project
                            <small>This is example of project</small>
                        </td>
                        <td><pie-chart data="main.PieChart4.data" options="main.PieChart4.options"></pie-chart></td>
                        <td>20%</td>
                        <td>Jul 14, 2013</td>
                        <td><a href=""><i class="fa fa-check text-navy"></i></a></td>
                    </tr>
                    <tr>
                        <td><input icheck type="checkbox" ng-model="main.unCheck1"></td>
                        <td>Alpha project</td>
                        <td><pie-chart data="main.PieChart3.data" options="main.PieChart3.options"></pie-chart></td>
                        <td>40%</td>
                        <td>Jul 16, 2013</td>
                        <td><a href=""><i class="fa fa-check text-navy"></i></a></td>
                    </tr>
                    <tr>
                        <td><input icheck type="checkbox" ng-model="main.unCheck2"></td>
                        <td>Betha project</td>
                        <td><pie-chart data="main.PieChart2.data" options="main.PieChart2.options"></pie-chart></td>
                        <td>75%</td>
                        <td>Jul 18, 2013</td>
                        <td><a href=""><i class="fa fa-check text-navy"></i></a></td>
                    </tr>
                    <tr>
                        <td><input icheck type="checkbox" ng-model="main.unCheck3"></td>
                        <td>Gamma project</td>
                        <td><pie-chart data="main.PieChart5.data" options="main.PieChart5.options"></pie-chart></td>
                        <td>18%</td>
                        <td>Jul 22, 2013</td>
                        <td><a href=""><i class="fa fa-check text-navy"></i></a></td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>