<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse" full-scroll>
        <ul side-navigation class="nav metismenu" id="side-menu">
            <li class="nav-header">

                <div class="profile-element" uib-dropdown>
                    <a uib-dropdown-toggle href>
                            <span class="clear">
                                <span class="block m-t-xs">
                                    <strong class="font-bold">{{main.userName}}</strong>
                             </span>
                                <span class="text-muted text-xs block">Example menu<b class="caret"></b></span>
                            </span>
                    </a>
                    <ul uib-dropdown-menu="" class="animated fadeInRight m-t-xs">
                        <li><a href="">Logout</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    IN+
                </div>

            </li>

            <li ui-sref-active="active">
                <a ui-sref="index.main"><i class="fa fa-laptop"></i> <span class="nav-label">Main page</span> </a>
            </li>
            <li ui-sref-active="active">
                <a href=""><i class="fa fa-sitemap"></i> <span class="nav-label">Administrar</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('admin')}">
                    <li ui-sref-active="active"><a ui-sref="admin.propietario"><span class="nav-label">Propietarios</a></span></li>
                    <li ui-sref-active="active"><a ui-sref="admin.edificio"><span class="nav-label">Edificios</span></a></li>
                    <li ui-sref-active="active"><a ui-sref="admin.unidad"><span class="nav-label">Unidades</span></a></li>
                </ul>
            </li>
            <li ui-sref-active="active">
                <a href=""><i class="fa fa-sitemap"></i> <span class="nav-label">Operaciones</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('operaciones')}">
                    <li ui-sref-active="active"><a ui-sref="operaciones.disponibilidades"><span class="nav-label">Disponibilidades</a></span></li>
                </ul>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="index.minor"><i class="fa fa-desktop"></i> <span class="nav-label">Minor page</span></a>
            </li>
        </ul>

    </div>
</nav>